.banner-image {
  background-image: url("https://cdn.jako.de/userdata/images/Startseite/2023_JAKO_Main_Teamline-Sale_1820x640px.jpg");
  height: 512px;
  object-fit: cover;
  width: 100%;
  margin-top: 30px;
}

.text {
  padding-top: 8pc;
  padding-left: 5pc;
  color: white;
  font-weight: 800;
}

.text h3 {
  font-size: 30px;
}

.text span {
  font-weight: 900;
  font-size: 25px;
}

.btn {
  width: 200px;
  height: 50px;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  line-height: 26px;
  font-size: 18px;
  min-width: 200px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: franklin-gothic-urw-cond, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #5b5b5b;
  margin-left: 5pc;
  border: none;
}

.btn:hover {
  background-color: #008ac9;
  color: #fff;
  transition: all 0.5s ease-in-out;
  border: none;
}
