.text {
  padding-top: 8pc;
  padding-left: 5pc;
  color: white;
  font-weight: 800;
}

.text h3 {
  margin-bottom: 15px;
  font-size: 30px;
}

.text span {
  font-weight: 900;
  font-size: 25px;
}

.btn {
  width: 200px;
  height: 50px;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  line-height: 26px;
  font-size: 18px;
  min-width: 200px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: franklin-gothic-urw-cond, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #5b5b5b;
  color: white;
  margin-left: 5pc;
  border: none;
}

.btn:hover {
  background-color: #008ac9;
  color: #fff;
  transition: all 0.5s ease-in-out;
  border: none;
}

.res_z {
  display: none;
}

@media only screen and (max-width: 600px) {
  .banner-image {
    display: none;
  }

  .res_z>img {
    width: 300px;
  }

  .res_Zz {
    margin-top: 20px;
  }

  .res_z {
    display: block;
    margin-top: 50px;
    width: 100%;
  }

  .g {
    text-align: center;
  }

  .btnz {
    margin-left: 81 px;
    margin-top: 10px;
    text-align: center;
    border: none;
    padding: 10px 60px;
    color: #fff;
    background: #5b5b5b;
  }

  .btnz:hover {
    background: #008ac9;
  }
}

.h {
  color: #5b5b5b;
}

.r {
  font-weight: bold;
  color: #353232;
  margin-top: 5px;
}

.res_z>img {
  width: 380px;
  text-align: center;
}