* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.men {
  color: #5b5b5b;
  text-align: center;
  font-weight: 700;
}

.card {
  margin: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.img {
  width: 450px;
  height: 340px;
}

.Men {
  margin-top: 50px;
}

.aw {
  text-align: center;
  color: #5b5b5b;
  font-size: 20px;
  text-decoration: underline;
}

li {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .card {
    display: grid;
    gap: 20px;
    grid-template-columns: auto;
  }

  .img {
    width: 350px;
    height: 240px;
  }

  .men {
    padding-top: 10px;
  }
}