.women {
  width: 100%;
  height: 170vh;
}

.women_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1_women_title {
  font-size: 38px;
  line-height: 1;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.6px;
  color: #5b5b5b;
  font-family: sans-serif;
  margin-top: 50px;
}

.three_div_womens {
  width: 100%;
  height: 425px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel_img_around {
  width: 90%;
  margin-left: 80px;
  height: 500px;
  margin-top: 80px;
}

.kids_carousel_text {
  margin-left: 50px;
  color: #5b5b5b;
}

.boxes {
  width: 278px;
  height: 401px;
}

.map_img {
  width: 244px;
  height: 244px;
  margin-left: 20px;
  margin-top: 30px;
}

.box_flexes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2%;
}

.docks {
  display: flex;
  gap: 10px;
}

.boxes:hover {
  border: 1px solid #5b5b5b;
  cursor: pointer;
}
.text-centers {
  font-size: 16px;
  font-weight: 700;
  font-family: sans-serif;
  text-align: start;
}
.text_diskpunt {
  color: rgba(217, 7, 7, 0.934);
}
.box_texts {
  margin-top: 1pc;
  color: #5b5b5b;
  margin-left: 1pc;
}
.price {
  color: red;
  font-weight: 700;
}
@keyframes del {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes ins {
  0% {
    width: 0;
    background: rgb(255, 255, 0);
    z-index: -1;
  }

  100% {
    width: 100%;
    background: rgb(255, 255, 0);
    z-index: -1;
  }
}

.three_div_women {
  width: 100%;
  height: 425px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.img_div_women {
  text-align: center;
}
.women_kis1_2 {
  width: 486px;
  height: 350px;
}

.women_sport1 {
  cursor: pointer;
  color: #5b5b5b;
  font-size: 30px;
  font-weight: 900;
}
