.equitment {
  width: 100%;
  height: 270vh;
  margin-top: 50px;
}
.eqiutment_heading {
  width: 100%;
  height: 730px;
  text-align: center;
}
.eqiutment_headings {
  width: 100%;
  height: 730px;
  text-align: center;
  margin-top: 50px;
}
.heading_text {
  font-size: 38px;
  line-height: 1;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.6px;
  color: #5b5b5b;
}
.image_divs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img_eqit {
  width: 780px;
  height: 584px;
}
.imgas_equitment {
  cursor: pointer;
}
.equitment_bags {
  cursor: pointer;
  position: relative;
  font-size: 26px;
  font-weight: 700;
  color: #5b5b5b;
  font-family: sans-serif;
  line-height: 1;
  margin-top: 10px;
}

.equitment_bags::after {
  content: "";
  position: absolute;
  width: 8%;
  height: 3px;
  left: 360px;
  top: 30px;
  background-color: #5b5b5b;
}
.equitment_bags:hover::after {
  background-color: #118ac9;
}
.equitment_bag {
  cursor: pointer;
  position: relative;
  font-size: 26px;
  font-weight: 700;
  color: #5b5b5b;
  font-family: sans-serif;
  line-height: 1;
  margin-top: 10px;
}

.equitment_bag::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 3px;
  left: 313px;
  top: 30px;
  background-color: #5b5b5b;
}
.equitment_bag:hover::after {
  background-color: #118ac9;
}
.equitment_bagd {
  cursor: pointer;
  position: relative;
  font-size: 26px;
  font-weight: 700;
  color: #5b5b5b;
  font-family: sans-serif;
  line-height: 1;
  margin-top: 10px;
}

.equitment_bagd::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  left: 276px;
  top: 30px;
  background-color: #5b5b5b;
}
.equitment_bagd:hover::after {
  background-color: #118ac9;
}

.equitmen_text_form {
  width: 100%;
  height: 492px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_form_s {
  width: 1275px;
  height: 492px;
  text-align: center;
}

.opensans {
  line-height: 120%;
  font-size: 12pt;
  font-weight: 400;
  font-family: sans-serif;
  color: #5b5b5b;
}
.football{
  margin-top: 30px;
  color: #5B5B5B;
}