
.navbar {
  width: 100%;
  height: 40.55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #BFBFBF;
}

.collection_logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.item_logo {
  list-style: none;
  cursor: pointer;
  color: #5b5b5b;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.active {
  color: #5b5b5b;
  text-decoration: none;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #008ac9;
  left: 0;
  bottom: -5px;
}

.collection{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 70px;
  gap: 12px;
}

.item{
  font-size: 16px;
  color: #5b5b5b;
  font-weight: 400;
  list-style: none;
  font-family: 'Libre Franklin', sans-serif;
}

.line_navbar{
  width: 2px;
  height: 23px;
  background-color: #008ac9;
}