@media only screen and (max-width: 390px) {
  .search {
    display: none;
  }
  .media_search {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .media_search {
    display: none;
  }
}