.header {
  height: rem(56px);
  margin-bottom: rem(120px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-body), var(--mantine-color-body));
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
}

.inner {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  gap: 20px;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-large);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.linkLabel {
  margin-right: rem(5px);
}

.images {
  width: 150px;
  height: 50px;
}
