* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.Just_One {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    text-align: center;
}

.JustFlex {
    display: flex;
}

.JustFlex1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Js {
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin: 20px;
}

.section {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
    gap: 50px;
}

.bs {
    color: #008ac9;
    font-size: 17px;
}

.ai {
    color: #008ac9;
    font-size: 19.5px;

}

.icon {
    text-align: center;
    display: flex;
    align-items: center;
}

.p {
    color: #5b5b5b;
}

.now {
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background: #5b5b5b;
    font-size: 18px;
    border: none;
    color: #FFFFFFFF;

}

.now:hover {
    background: #008ac9;
}

.one>h1 {
    color: #5b5b5b;
    font-size: 20px;

}

.one>p {
    color: #5b5b5b;
    font-size: 15px;
    line-height: 30px;
}

.one>.link {
    color: #5b5b5b;
    font-size: 15px;
    line-height: 30px;
}

.one>.h1>a {
    color: #5b5b5b;
    font-weight: 600;
}

.h1 {
    font-weight: bolder;
}

.one:hover h1 {
    color: #008ac9;
}

a:hover {
    color: #008ac9;
}

.one>.p {
    color: #5b5b5b;
    font-size: 15px;
    line-height: 30px;
}

.one h1:hover {
    color: #337ab7;
    cursor: pointer;
}

.one p:hover {
    color: #337ab7;
    cursor: pointer;
}

.one {
    text-align: start;
}

.left {
    border: 1px solid #337ab7;
    width: auto;
    margin-left: 150px;
}

.sa {
    color: #008ac9;
    text-align: left;
    font-size: 40px;
    line-height: 45px;
    width: 600px;
    font-weight: bolder;
}

.sd {
    color: #5b5b5b;
    font-weight: bolder;
    width: 550px;
}

.we {
    color: #008ac9;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

.Mno {
    margin-right: 100px;
}

ul .Mno h4 {
    color: #5b5b5b;
    text-align: left;
    width: 500px;
}



.med {
    display: flex;
    gap: 5px;
    align-items: center;
}

.rf {
    display: none;
}

@media only screen and (max-width: 600px) {
    .Js {
        height: 300px;
        display: grid;
        grid-template-columns: auto;
        justify-content: space-between;
        margin: 20px;

    }

    .dropdown {
        display: block !important;
    }

    .rf {
        display: block;
    }

    .one {
        display: none;
    }


    .left {
        display: none;
    }

    .JustFlex {
        display: none;
    }


    .Mno h1 {
        color: #008ac9;
        font-size: 22px;
        width: 350px;
    }


    .section {
        display: none;
    }

    .Mno h4 {
        width: 350px;
    }

    .Js {
        display: grid;
        grid-template-columns: auto;
    }

    .JustFlex1 {
        text-align: center;
        display: flex;

    }

    .icon {
        display: none;
    }

    .exit_one>h1 {
        font-size: 10px;
    }

    .flexONe {
        flex-wrap: wrap;
        display: flex;
    }

    .Quit {
        flex-wrap: wrap-reverse;
    }

    .exit_two {
        display: grid;
        grid-template-columns: auto;
    }

}

.Quit {
    display: flex;
    margin: 20px;

    justify-content: space-between;
}

.exit_one {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.exit_one h1 {
    color: #008ac9;
    font-size: 25px;
    font-weight: bold;
}

.i {
    color: #5b5b5b;
    margin: 10px;
    font-size: 20px;
}

.i:hover {
    cursor: pointer;
    color: #337ab7;
}

@media only screen and (min-width:600px) {
    .exit_two {
        gap: 8px;
        display: grid;
        grid-template-columns: auto auto auto;
        color: #5b5b5b;
    }
}